rapport/rapport.toc
rapport/rapport.aux
rapport/rapport.fdb_latexmk
rapport/rapport.fls
rapport/rapport.log
rapport/rapport.out
rapport/rapport.synctex.gz
.notes_emile.autosave.xopp
prostate/.ipynb_checkpoints
rapport_final/rapport_final.aux
rapport_final/rapport_final.fdb_latexmk
rapport_final/rapport_final.fls
rapport_final/rapport_final.log
rapport_final/rapport_final.out
rapport_final/rapport_final.synctex.gz
rapport_final/rapport_final.toc
