rapport/rapport.toc
rapport/rapport.aux
rapport/rapport.fdb_latexmk
rapport/rapport.fls
rapport/rapport.log
rapport/rapport.out
rapport/rapport.synctex.gz
.notes_emile.autosave.xopp
prostate/.ipynb_checkpoints
